# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\DOCUMENTOS EDUARDO\SEMILLEROS\SOFKA\Ejercicios Practicos\Pruebas Unitarias\SistemaRutaDeTransportePublicoDDD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
